<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <!-- Обязательные метатеги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>All users</title>

</head>
<body>
<header>
    <div th:insert="navi :: navibar"></div>
</header>
<main>
    <div class="container-fluid">
        <div class="row">
            <div class=".col-lg-3">
                <div th:insert="mainListGroup :: main-list-group"></div>
            </div>
            <div class=".col-lg-9">

            </div>
        </div>
    </div>

    <br/>
    <a href="/admin/new">Create new user</a>
    <a href="/logout">LOGOUT</a>
    <hr/>
    <table>
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Lastname</td>
            <td>Age</td>
            <td>email</td>
            <td>Admin</td>
            <td>Info</td>
            <td>Delete</td>
            <td>Update</td>
        </tr>
        </thead>

        <div th:each="user : ${userList}">
            <tr>
                <td><p th:text="${user.getUser_id()}">ID</p></td>
                <td><p th:text="${user.getFirstname()}">Firstname</p></td>
                <td><p th:text="${user.getLastname()}">Lastname</p></td>
                <td><p th:text="${user.getAge()}">age</p></td>
                <td><p th:text="${user.getEmail()}">email</p></td>
                <td><p th:text="${user.isAdmin()} ? 'YES': 'NO'">isAdmin</p></td>
                <td><a class="button24" th:href="@{/users/{id}(id=${user.getUser_id()})}">Info</a></td>
                <td><a class="button24" th:href="@{/admin/delete/{id}(id=${user.getUser_id()})}">Delete</a></td>
                <td><a class="button24" th:href="@{/admin/edit/{id}(id=${user.getUser_id()})}">Edit</a></td>
            </tr>
        </div>
    </table>
</main>

</body>
</html>